.gestaoCursos{
    background-color: var(--cinza-claro);
}
.cardGestaoCurso{
    background-color: var(--azul-metropolitano);
}
.botoesGestaoCurso{
    background-color: var(--azul-escuro);
    color: var(--dourado);
    padding:12px;
    font-weight:500
}
.botoesGestaoCursoD{
    background-color: var(--branco);
    color: var(--dourado);
    padding:12px;
    font-weight:500
}
.botoesGestaoCurso:hover{
    background-color: var(--azul-metropolitano);
    color: var(--branco);
    padding:12px;
    font-weight:500
}
.botoesGestaoCursoD:hover{
    background-color: var(--azul-metropolitano);
    color: var(--branco);
    padding:12px;
    font-weight:500
}