.logoImetro{
    width: 50px;
    height: 50px;
}

.loginContainer {
    min-height: 100vh;
    background-image: url('../img/imetro3.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logoImetro {
    width: 100px;
    height: auto;
}

.loginContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.loginContainer > .container {
    position: relative;
    z-index: 1;
}

.card {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(5px);
}
.linkbtn{
 text-decoration: none;
 border: 1px solid red;
}
