.btnSubmit{
    background-color: var(--dourado);
    color: var(--azul-escuro);
}
.btnSubmit:hover{
    background-color: var(--branco);
    color: var(--dourado);
    border: 1px solid var(--dourado);
}
.btnCancelar{
    background-color: var(--branco);
    color: var(--azul-escuro);
    border: 1px solid var(--danger);
}
.btnCancelar:hover{
    background-color: var(--danger);
    color: var(--azul-escuro);
}