.AtulizarDepartamento{
    border: 1px solid var(--azul-escuro);
}
.AtulizarDepartamento:hover{
    background-color: var(--azul-escuro);
    color: var(--branco);
}
.btnSubmit{
    background-color: var(--dourado);
    color: var(--azul-escuro);
}
.btnSubmit:hover{
    background-color: var(--branco);
    color: var(--dourado);
    border: 1px solid var(--dourado);
}