
.Link{
    text-decoration: none;
    color: var(--branco);
    border-radius: 20px;
}
.Link:hover{
    color: var(--branco);
    background-color: var(--dourado);
    border-radius: 20px;
}
.Link:active{
    color: var(--branco);
    background-color: var(--dourado);
    border-radius: 20px;
}
.logoImetro {
    width: 50px;
    height: 50px;
}
.containerFluid{
    background-color: var(--azul-escuro);
}
